<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/">
          <img src="/logo/ai_logo.png" style="width: 45px; height: 100%;" alt="logo" class="me-5">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cryptos">Cryptos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ai-chatbot">AI ChatBot</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
